<router-outlet>
<div class="card form-group" style="margin-left: 0%">
  <div id="title" class="card bg-outline-primary" >
    <img src="https://www.pro-activ.com/es-es/-/media/Project/Upfield/Brands/ProActiv/ProActiv-ES-Live/Assets/Articles/Header/Subtopic-pages/comida-sana.png?rev=61968c3ae4f24d5ea75de6d3db22984d&w=720" [ngStyle]="{'max-width': imgWidth}" style="width: 1000px;">
    <div class="card-header ">
      <p class="parrafo-responsivo">Crear Receta</p>

    </div>
  </div>

<div class="container ">

  <form novalidate autocomplete="off" #form="ngForm"  (submit)="addRecipe(form)">
    <div class="form-group">
      <div class="form-group">
        <label class= "parrafo-responsivo2" for="nombreReceta">Nombre de la receta</label>
        <input class="form-control" id="nombreReceta" placeholder="Nombre de la receta"
               name="nombreReceta" #nombreReceta="ngModel" [(ngModel)]="service.formDataReceta.recipesName"
               [class.invalid]="nombreReceta.invalid && nombreReceta.touched"
               type="text" required data-error="Por favor, ingrese el nombre de la receta">
      </div>
    </div>



    <div class="card form-group  p-3">
      <div class="card-body">
        <h3 class= "parrafo-responsivo2">Ingredientes</h3>
        <button class= "btn btn-primary button.small-screen"routerLink="/view-ingredients" >Ingredientes agregados</button>




        <div class="form-group parrafo-responsivo2">
          <label class= "parrafo-responsivo2" for="nombreIngrediente">Nombre del Ingrediente:</label>
          <select class="form-select" id="nombreIngrediente" name="nombreIngrediente" required [(ngModel)]="service.formDataIngredient.nameIngredient">
            <option value="" disabled selected>Seleccione un ingrediente</option>
            <option *ngFor="let item of ingredientList" [value]="item.nameIngredient">{{ item.nameIngredient }}</option>

          </select>
        </div>
        <div class="form-group mt-3">
          <label class= "parrafo-responsivo2" for="cantidadIngrediente">Cantidad:</label>
          <input class="form-control" id="cantidadIngrediente" placeholder="Cantidad de Ingrediente"
                 name="cantidadIngrediente" #cantidadIngrediente="ngModel" [(ngModel)]="service.formDataIngredient.quantity"
                 [class.invalid]="cantidadIngrediente.invalid && cantidadIngrediente.touched"
                 type="text" required data-error="Por favor, ingrese la cantidad de ingredientes">
        </div>
        <div class="mt-3">
          <button class="button.small-screen btn btn-success" type="button" (click)="addIngredient()">Agregar</button>
        </div>





      </div>

    </div>

    <div class="form-group">
      <div class="form-group  p-3">
        <label class= "parrafo-responsivo2" for="tiempoPreparacion">Tiempo de preparación</label>

        <input class="form-control" id="tiempoPreparacion" placeholder="Tiempo de preparación"
               name="tiempoPreparacion" #tiempoPreparacion="ngModel" [(ngModel)]="service.formDataReceta.timePreparation"
               [class.invalid]="tiempoPreparacion.invalid && tiempoPreparacion.touched"
               type="number" required data-error="Por favor, ingrese el tiempo de preparación">
      </div>
    </div>

    <div class="form-group">
      <div class="form-group p-3">
        <label class= "parrafo-responsivo2" for="instrucciones">Instrucciones de cocción</label>

        <input class="form-control" id="instrucciones" placeholder="Instrucciones de la receta"
               name="instrucciones" #instrucciones="ngModel" [(ngModel)]="service.formDataReceta.instructions"
               [class.invalid]="instrucciones.invalid && instrucciones.touched"
               type="text" required data-error="Por favor, ingrese las instrucciones de preparacion">
      </div>
    </div>

    <div class="form-group">
      <div class="form-group  p-3">
        <label class= "parrafo-responsivo2" for="porciones">Número de porciones</label>
        <input class="form-control" id="porciones" placeholder="Numero de porciones"
               name="porciones" #porciones="ngModel" [(ngModel)]="service.formDataReceta.portions"
               [class.invalid]="porciones.invalid && porciones.touched"
               type="number" required data-error="Por favor, ingrese un numero de porciones">

      </div>
    </div>



    <div class="container my-5">
      <div class="card p-3">
        <label class= "parrafo-responsivo2" >Imagen de la receta</label>
        <div class="drop-box border rounded p-5 text-center"
             (dragover)="handleDragOver($event)"
             (drop)="handleDrop($event)">
          <i class="fas fa-cloud-upload-alt fa-3x mb-3"></i>
          <p class="mb-0 parrafo-responsivo2" *ngIf="!imageUrl">Suelta la imagen aquí o haga clic para cargar</p>
          <div class="preview-container my-3" *ngIf="imageUrl">
            <img [src]="sanitizer.bypassSecurityTrustUrl(imageUrl)" alt="Uploaded Image" class="preview-image rounded">
          </div>
          <a>{{imageUrl}}</a>
        </div>
        <div class="d-flex justify-content-center mt-3">
          <button class="btn btn-primary" (click)="fileInput.click()">Seleccionar imagen</button>
          <input type="file" #fileInput style="display:none" (change)="handleFileInput($event)">
          <button class="btn btn-danger ml-3" [disabled]="!imageUrl" (click)="clearPreview()">Eliminar imagen</button>
        </div>
      </div>
    </div>

    <button type="submit" class="btn btn-primary">Guardar receta</button>
  </form>
</div>
</div>
</router-outlet>


