
<mat-toolbar class="mat-elevation-z8">
  <button
    mat-icon-button
    *ngIf="sidenav.mode === 'over'"
    (click)="sidenav.toggle()"
  >
    <mat-icon *ngIf="!sidenav.opened">menu</mat-icon>
    <mat-icon *ngIf="sidenav.opened"> close </mat-icon>
    <!--    <mat-icon>recipe</mat-icon>-->
  </button>
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav #sidenav class="mat-elevation-z8"  opened>


    <h4 class="name">{{ inputValue }}</h4>
    <p class="designation">Usuario</p>

    <button  mat-button class="menu-button" routerLink="../">

      <mat-icon>exit_to_app</mat-icon>
      <span>Cerrar Sesión</span>
    </button>
    <mat-divider></mat-divider>

    <button mat-button class="menu-button" routerLink="show-recipes">
      <mat-icon>home</mat-icon>
      <span>Inicio</span>
    </button>

    <button mat-button class="menu-button" routerLink="create-recipe" >
      <mat-icon>cookie</mat-icon>
      <span>Crear Receta</span>
    </button>

    <!--<mat-menu #homeMenu="matMenu">
      <button mat-menu-item routerLink="/create-student">Agregar Receta</button>
      <button mat-menu-item routerLink="view-student">Ver Recetas</button>
    </mat-menu>-->

   <!-- <button class="menu-button" mat-button [matMenuTriggerFor]="profileMenu">
      <mat-icon>library_books</mat-icon>
      <span>Lista de compras</span>
    </button>-->

    <button mat-button class="menu-button" routerLink="myrecipes">
      <mat-icon>library_books</mat-icon>
      <span>Mis Recetas</span>
    </button>


    <mat-divider></mat-divider>
  </mat-sidenav>

  <mat-sidenav-content>

        <div class="content mat-elevation-z4 mat-drawer-backdrop ng-star-inserted mat-drawer-shown"><router-outlet></router-outlet></div>


  </mat-sidenav-content>
</mat-sidenav-container>
