.parrafo-responsivo {
  font-size: 4vw; /* El tamaño de letra se ajusta al 4% del ancho de la ventana */
  text-align: center
}
.header{
  background-color: darkseagreen;
}

.parrafo-responsivo2 {
  font-size: 2vw; /* El tamaño de letra se ajusta al 4% del ancho de la ventana */
  text-align: left;
  font-family: Monaco;
}
.a{
  font-size: 1vw;
}

.table-responsive {
  overflow-x: auto;
}

@media screen and (max-width: 576px) {
  /* Estilos para pantallas pequeñas */
  .table-responsive td,
  .table-responsive th {
    font-size: 12px; /* Ajusta el tamaño de fuente según tus necesidades */
  }
}
