<div class="card form-group  p-3">
  <div class="card-body">
    <h3>Ingredientes</h3>

    <div>


      <div class="table-responsive">
        <hr/>

      <div class="container">
          <table class="table table-striped table-bordered table-hover table table-reflow table-responsive">
            <thead class="table table-success">
            <tr>
              <th>Nombre Ingrediente</th>

              <th class="text-left">
                <div class="d-flex justify-content-between">
                  <span>Nombre Tienda</span>

                </div>
              </th>
              <th>Precio</th>

            </tr>
            </thead>
            <tbody>

            <tr *ngFor="let item of array">
              <td>{{item.nameIngredient}}</td>
              <td><input type="text"  name="nombretienda" #NameShop="ngModel" [(ngModel)]="service.formIngredientShopee.NameShop"
                         [class.invalid]="NameShop.invalid && NameShop.touched">
              </td>
              <td><input type="text" type="text"  name="PriceShop" #PriceShop="ngModel" [(ngModel)]="service.formIngredientShopee.PriceShop"
                         [class.invalid]="PriceShop.invalid && PriceShop.touched"></td>
            </tr>





            </tbody>
          </table>
          <pagination-controls (pageChange)="page = $event" previousLabel="Anterior"
                               nextLabel="Siguiente"></pagination-controls>
        </div>
      </div>
    </div>
        <button class="btn-primary">Guardar</button>
      </div>
    </div>


