<router-outlet>
  <div class="card form-group " style="margin-left: 0%">
    <div id="title" class="card bg-outline-primary " >
      <img class= "img-centrada"src="https://www.pro-activ.com/es-es/-/media/Project/Upfield/Brands/ProActiv/ProActiv-ES-Live/Assets/Articles/Header/Subtopic-pages/comida-sana.png?rev=61968c3ae4f24d5ea75de6d3db22984d&w=720" [ngStyle]="{'max-width': imgWidth}" style="width: 1000px;">
      <div class="card-header ">
        <p class="parrafo-responsivo">Detalles Receta</p>

      </div>
    </div>

    <div class="container">

      <div  class="bg-body ">
        <img src={{service.formDataReceta.recipePhoto}} [ngStyle]="{'max-width': imgWidth}" style="width: 500px;" >
      </div>

        <div class="form-group">
          <div class="form-group ">
            <h3 class="parrafo-responsivo2">Nombre de la receta</h3>

            <label style="font-weight: normal">{{ service.formDataReceta.recipesName}}</label>

          </div>
        </div>
      <!-- container tabla de todos los ingredientes !-->
      <div class="card form-group ">
        <div class="card-body">
          <h3 class="parrafo-responsivo2">Ingredientes</h3>

          <div>


            <div class="table-responsive">
              <hr />
              <table class="table table-striped table-bordered table-hover">
                <thead class="table table-bordered header-table" >
                <tr>

                  <th class="parrafo-responsivo2" scope="col" class="col-md text-center" style="vertical-align: middle">Nombre ingrediente</th>
                  <th class="parrafo-responsivo2" scope="col" class="col-md text-center" style="vertical-align: middle">Nombre Tienda</th>
                  <th class="parrafo-responsivo2" scope="col" class="col-md text-center" style="vertical-align : middle">Precio</th>

                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let item of array">
                  <td>{{item.nameIngredient}}</td>
                  <td>{{item.nameShop}}</td>
                  <td>{{item.priceShop}}</td>

                </tr>
                </tbody>
              </table>






            </div>
          </div>
            </div>
          </div>
        </div>

        <div class="form-group">
          <div class="form-group">
            <h3 class="parrafo-responsivo2">Tiempo de preparación</h3>
            <label style="font-weight: normal">{{ service.formDataReceta.timePreparation}}</label>
          </div>
        </div>

        <div class="form-group">
          <div class="form-group ">
            <h3 class="parrafo-responsivo2">Instrucciones de cocción</h3>
            <label class="parrafo-responsivo2" style="font-weight: normal">{{ service.formDataReceta.instructions}}</label>
          </div>
        </div>

        <div class="form-group">
          <div class="form-group">
            <h3 class="parrafo-responsivo2">Número de porciones</h3>
            <label class="parrafo-responsivo2" style="font-weight: normal">{{ service.formDataReceta.portions}}</label>
          </div>
        </div>

    <button class="btn btn-secondary button.small-screen" routerLink="/shoppingList">Comenzar lista de compras</button>

    </div>

</router-outlet>
