.parrafo-responsivo {
  font-size: 4vw; /* El tamaño de letra se ajusta al 4% del ancho de la ventana */
  text-align: center
}

.img-centrada {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

button.small-screen {
  /* Estilos para el botón en pantallas pequeñas */
  /* Por ejemplo, hacerlo más pequeño */
  font-size: 12px;
  padding: 5px 10px;
}

.parrafo-responsivo {
  font-size: 5vw; /* El tamaño de letra se ajusta al 4% del ancho de la ventana */
}

.parrafo-responsivo2 {
  font-size: 3vw; /* El tamaño de letra se ajusta al 4% del ancho de la ventana */
}

.table-responsive {
  overflow-x: auto;
}

.table-responsive {
  overflow-x: auto;
}

@media screen and (max-width: 576px) {
  /* Estilos para pantallas pequeñas */
  .table-responsive td,
  .table-responsive th {
    font-size: 12px; /* Ajusta el tamaño de fuente según tus necesidades */
  }
}
